<div class="container">
  <div class="row">
    <div class=" col-md-2"></div>

    <div class="col-md-8" id="articles">
      <h2 class="header">NPR Stories</h2>

      <hr>
      <a href="/"><button class="btn btn-primary">Homepage</button></a>
      
      
      <hr>
      <h2>{{articleAndNotes.titleInfo}}</h2>

      <p>{{articleAndNotes.teaserInfo}}</p>
   

      <input id='titleinput' name='title' >
      <textarea id='bodyinput' name='body'></textarea>
       
      <button data-id='{{articleAndNotes._id}}' id='savenote'>Save Note</button>


      {{!-- currently cannot access {{articleAndNotes._id}} from the each section...but it is available after the / in
      the URL so could do a window.href sort of thing. --}}
      {{#each articleAndNotes.note}}

      <div data-id='{{this._id}}' class="noteDiv">
        <h3>{{this.title}}</h3>
        <p>{{this.body}}</p>
        <button article-id="{{articleAndNotes._id}}" note-id="{{this._id}}" type="button" class="btn btn-danger">Danger</button>
        <hr>
      </div>



      {{/each}}


    </div>
    <div class=" col-md-2"></div>

  </div>

</div>
</div>