<div class="container">
  <div class="row">

    <div class="col-md-8" id="articles">
      <h2 class="header">NPR Stories</h2>


      {{#each articles}}

      <div data-id='{{this._id}}' class="articleDiv">
        <p><a href='{{this.linkInfo}}'>{{this.titleInfo}}</a></p>
        <p>{{this.teaserInfo}}</p>
      </div>



      {{/each}}


    </div>
    <div class="col-md-4" id="notes">

      {{!-- {{#each articles.note}}

      <div data-id='{{this._id}}' class="noteDiv">

      </div>

      {{/each}} --}}




    </div>

  </div>
</div>