<div class="container">
  <div class="row">
    <div class =" col-md-2"></div>

    <div class="col-md-8" id="articles">
      <h2 class="header">NPR Stories</h2>

      <hr>
        <button type="button" class="btn btn-primary scrape" >Scrape NPR</button>
      <hr>


      {{#each articles}}

      <div data-id='{{this._id}}' class="articleDiv">
        <p><a href='{{this.linkInfo}}'>{{this.titleInfo}}</a></p>
        <p>{{this.teaserInfo}}</p>
        <a href="/{{this._id}}">
        <button data-id='{{this._id}}' type="button" class="btn btn-warning ">Go To Comment Section</button>
        </a>
        <hr>
      </div>



      {{/each}}


    </div>
    <div class =" col-md-2"></div>
    {{!-- <div class="col-md-4" id="notes"> --}}

      {{!-- {{#each articles.note}}

      <div data-id='{{this._id}}' class="noteDiv">

      </div>

      {{/each}} --}}




    </div>

  </div>
</div>